/other_stuffs
/old/other_stuffs
/backends
*create-indexfiles.ps1
tmp.txt
tmp2.txt
tmp3.txt
tmp4.txt
tmp5.txt
tmp6.txt
tmp7.txt
tmp8.txt
tmp9.txt
wip/meds-testing
faviconupdate.py
experiments/BBCode_editor/test-data
wip/experiments/BBCode_editor/conversion/test-data